*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*這邊為適應不同瀏覽器所設置*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*還未理解用法*/
    text-rendering: optimizeLegibility;
}
body{
    color: #777;
    background: #4cAf50;
}
.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative; /*為了子層綁定字體深淺*/
}

.contact{
    background: #f9f9f9;
    padding: 25px;
    margin: 150px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0, 0.24);
    
}
.contact h3{
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;

}
.contact h4 {
    margin:5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}
.contact input,.contact textarea{
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}
.contact input:hover,.contact textarea:hover{
    border: 1px solid #aaa;
    transition: border-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
}
.contact textarea{
    height: 100px;
    max-width: 100%;
    resize: none;
}
.contact button{
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4cAf50;
    color: #fff ;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
.contact button:hover{
    background:  #43a047;
    
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
}
.contact button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0 ,0, 0.5);
}
.copyright{
    text-align: center;
}
.contact input:focus,
.contact textarea:focus{
    outline: 0px;
    border: 1px solid #aaa;
}

fieldset{
    border: medium none ;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0px;
    width: 100%;
}
